{% extends 'app/base.html' %}
{% load static %}
{% block maincontent %}
<div class="container">
    <div class="row my-5 justify-content-center shadow py-5">
        <h3 class="my-3 text-center">Password Reset Confirm</h3>
        <div class="col-4 offset-2">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                   {{fm.label_tag}}{{fm}} <p class="text-danger">{{fm.errors|striptags}}</p>
                {% endfor %}

                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    {{error}}
                  {% endfor %}
                {% endif %}
                <input type="submit" value="Reset Confirm" class="btn btn-primary my-3 ">
            </form>
        </div>
    </div>
</div>
{% endblock maincontent %}