{% extends 'app/base.html' %}
{% load static %}
{% block maincontent %}
<div class="container pt-5">
    <div class="row my-5 justify-content-evenly ">
        <div class="col-4 ">
            <h5>Order Summary</h5><hr>
            <div class="row">
                {% for item in cart_item %}
                <div class="col-12 border shadow mb-3">
                    <p class="mt-3 h6">Product:   {{item.product.title}}</p>
                    <p>Quantity:   {{item.quantity}}</p>
                    <p class="h6 pb-2">Price:  {{item.total_cost}} </p>
                </div>
                {% endfor %}
                <h6 class="mt-4">Total Cost + Rs.70={{totalamount}}0</h6>
                <p>Term & Condition Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt at laboriosam accusamus labore, nihil temporibus provident quaerat! Inventore ut iure eos facilis.</p>
            </div>
        </div>
        <div class="col-3 ">
            <h5>Select Shipping Address</h5><hr>
        <form action="/payment" id='pay'>
            <div class="row">
                {% for ad in add %}
                <div class="col border shadow">
                   <p class="fw-bold mt-2">{{ad.name}}</p>
                   <p>{{ad.locality}}, {{ad.city}}, {{ad.state}}, {{ad.zipcode}} </p>
                </div>
                <div class="col-12 my-3 form-check">
                    <input type="radio" name="Select_Address" id="Address{{forloop.counter}}" value="{{ad.id}}" class="form-check-input">
                    <label for="Address{{forloop.counter}}" class="form-check-label fw-bold">Address{{forloop.counter}}</label>
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <div id="paypal-button-container"></div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock maincontent %}
{% block payment %}
<script src="https://www.paypal.com/sdk/js?client-id=AbJHWns1lU2_MVON9vFf7revzWNgkw7Bejb69urt21PBrlXR83ROn96MK4jLl5mMmYgn-yeOLSO01Ut8&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{totalamount}}'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                document.getElementById('pay').submit();
            });
        }


    }).render('#paypal-button-container');
</script>
{% endblock payment %}